# Python
__pycache__/
*.py[cod]
*.egg-info/
.env

# Data files — don't commit raw/large data to Git
data/raw/
data/processed/
*.csv
*.parquet

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini

# dbt generated folders - don't let Git track these
weather_transform/logs/
weather_transform/analyses/
weather_transform/macros/
weather_transform/target/
weather_transform/dbt_packages/